.buttonAnimation button {
    position: relative;
    padding: 4px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: 500;
    color: #0b0500;
    transition: all ease 0.4s;
    font-size: 16px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}
  .buttonAnimation button::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: all ease 0.1s;
    -moz-transition: all ease 0.1s;
    -ms-transition: all ease 0.1s;
    -o-transition: all ease 0.1s;
}
  .buttonAnimation button:hover::after {
    bottom: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .buttonAnimation button a {
    text-decoration: none;
    color: #ffffff;
    position: relative;
    z-index: 9;
  }
  .buttonAnimation button:hover a {
    color: #000000;
  }